.grey-bg {
  background-color: #f5f7fa;
}

.me-auto {
  margin-left: 370px;
}

.navbar-brand {
  padding-top: 0% !important;
}

.colorNav {
  background-color: #0f1a3c !important;
}

.linkraiz {
  color: #ffffff8c !important;
  left: 10px !important;
}
